{{ partial "header.html" . }}
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<a id="small_leaf" class="leaf_button" href="/links"></a>
	<a id="tiny_leaf" class="leaf_button" href="/bio"></a>
	<a id="medium_leaf" class="leaf_button" href="/contact"></a>
	<a id="large_leaf" class="leaf_button" href="/portfolio"></a>
	<div id="home_content" class="background_filter">
		<h2 style="font-style:italic; font-size:22px; font-family:georgia,serif; color:rgb(153, 0, 204);">
			Welcome to Mesia Huey Illustration! Thanks for dropping by. This isn't a very formal gallery, 
			so no ties or even shoes required--just make yourself at home and enjoy!
		</h2>
	</div>
	<div id="featured_image">
		<img src="/images/chefsamplep3.jpg" />
	</div>
{{ partial "footer.html" . }}